@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.about-content ul li {
  list-style: square;
  color: red;
}

.about-content ul li span {
  color: white;
}

.text-crimson {
  font-weight: 600;
  color: crimson !important;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/Hero.png");
  background-size: cover;
  background-attachment: fixed;
}

.td-none {
  color: white;
  text-decoration: none;
}

.td-none:hover {
  text-decoration: underline;
}

.ignore-nav {
  padding-top: 80px;
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}

.footer-container {
  height: 200px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  box-shadow: 0px -5px 20px #1e1e1e;
}

.str0 {
  stroke: #2b2a29;
  stroke-width: 57.21;
  stroke-miterlimit: 22.9256;
}
.fil0 {
  fill: #fefefe;
}

.generic-desc{
	font-size: 1.25rem;
}

@media screen and (max-width: 800px) {
  #home-main {
    flex-direction: column-reverse;
  }
  .generic-desc {
    width: 95vw !important;
		font-size: 14px !important;
  }
  .home-text {
    margin-left: -20px;
  }
  .home-svg {
    display: flex;
    justify-content: center;
    margin-top: -70px;
  }
  #sw-js-blob-svg {
    width: 230px !important;
  }
  #about-container {
    margin-left: -20px;
  }

  #footer-name {
    font-size: 15px !important;
  }

  #footer-svgs {
    margin-right: 5px !important;
  }
  #footer-button {
    font-size: 14px;
  }
  #project-items-container {
    grid-template-columns: auto !important;
  }
  #project-item-card {
    width: -webkit-fill-available !important;
  }
}

.cube-container {
  perspective: 1000px;
}

.cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
  /* transform: rotateX(30deg) rotateY(50deg); */
  animation: rotateCube 10s infinite linear;
}

.face {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  /* background: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid #6a6a6a; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.front {
  transform: translateZ(20px);
}
.back {
  transform: rotateY(180deg) translateZ(20px);
}
.left {
  transform: rotateY(-90deg) translateZ(20px);
}
.right {
  transform: rotateY(90deg) translateZ(20px);
}
.top {
  transform: rotateX(90deg) translateZ(20px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(20px);
}

@keyframes rotateCube {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

#footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-svgs {
  width: 30px;
  height: 30px;
}

#footer-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#project-item-card {
  transition: 0.2s ease-in-out;
  opacity: 0;
  /* box-shadow: 0 0 5px orange; */
}

#project-item-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px crimson;
}

.autoShow {
  animation: autoShowAnimation both;
  /* animation-timing-function: view(); */
  animation-timeline: view(90% 5%);
}
@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.autoShowText {
  animation: autoShowTextAnimation both;
  animation-timeline: view(75% 5%);
}
@keyframes autoShowTextAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.helm {
  position: fixed;
  right: -15vw;
  top: -13vw;
  z-index: -3;
  width: 30vw;
  opacity: 0.7;
}

.autoRotate {
  animation: autoRotateAnimation both;
  animation-timeline: scroll();
}
@keyframes autoRotateAnimation {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

.glass {
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.15)
  );
}

.nav-glass {
  background-color: transparent !important;
  backdrop-filter: blur(40px) brightness(0.6);
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6) 20%
  );
}

.internal-card {
  border-radius: 10px;
  width: 180px;
  height: 100px;
  box-shadow: 0 0 5px crimson;
}

.outer-card {
  transform: rotate(30deg);
}
.contact-item {
  display: flex;
  align-items: center;
}

.pers650{
	perspective: 650px;
}